# Compiled output
dist/
tmp/
out-tsc/

# Node
node_modules/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
.vscode/*

# VSCode exceptions
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System files
.DS_Store
Thumbs.db

# Angular build cache
.angular/

# Misc
npm-debug.log
yarn-error.log
package-lock.json
