<style>
  nav {
    display: flex;
    justify-content: space-around;
    background-color: #212121;
    color: white;
    padding: 10px;
  }

  nav a {
    text-decoration: none;
    color: white;
  }

  nav a.active {
    font-weight: bold;
    text-decoration: underline;
  }
</style>
<nav>
  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Contador</a
  >

  <!-- Esta es otra forma de usar el routerLink y esta
   forma, las llaves cuadradas, muestran error si falta la importacion
   Sirve para detectar problemas. -->
  <a [routerLink]="['/hero']" [routerLinkActive]="'active'">Hero</a>
  <a [routerLink]="['/dragonball']" [routerLinkActive]="'active'">Dragonball</a>
  <a [routerLink]="['/dragonball-super']" [routerLinkActive]="'active'"
    >Dragonball Super</a
  >
</nav>
