<h1>DragonBall Page</h1>
<hr />

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar: {{ nombre() + ">" + poder() }}</h3>
    <input
      type="text"
      [value]="nombre()"
      class="form-control"
      placeholder="Nombre"
      (input)="nombre.set(nombreInput.value)"
      #nombreInput
    />
    <input
      type="number"
      [value]="poder()"
      class="form-control mt-2"
      placeholder="Poder"
      (input)="poder.set(+poderInput.value)"
      #poderInput
    />
    <!-- el + en el input de poder es para convertir el string a number -->
    <button (click)="agregarPersonaje()" class="mt-2 btn btn-primary">
      Agregar
    </button>
  </div>

  <div class="col-12 col-sm-6">
    <h3>Listado fuertes</h3>
    <h5>Los personajes con poder mayor o igual a {{ poderFuerte() }}</h5>
    <ul>
      @for (pers of personajes(); track pers.id; let indice = $index, par =
      $even) {
      <li>
        @if(pers.poder >= poderFuerte()) {
        <span>{{ indice }} Par:: {{ par }} - {{ pers.nombre }}</span>
        <strong
          [class.text-danger]="pers.poder >= 13000"
          [class.text-info]="pers.poder < 13000"
        >
          ({{ pers.poder }})</strong
        >
        } @else {
        <strong>personaje debil</strong>
        }
      </li>
      }
    </ul>
  </div>
</section>
